<nav>
  <div class="upper">
    <div class="left">
      <ion-icon class="icon" name="logo-facebook"></ion-icon>
      <ion-icon class="icon" name="logo-twitter"></ion-icon>
      <ion-icon class="icon" name="logo-pinterest"></ion-icon>
      <ion-icon class="icon" name="logo-instagram"></ion-icon>

    </div>
    <div class="right">
      <input type="text" placeholder="Search here" id="search-bar" />
      <ion-icon class="icon" name="search-outline" id="search"></ion-icon>
      <ion-icon class="icon" name="menu-outline"></ion-icon>
    </div>
  </div>
  <div class="lower">
    <h1><%= head%></h1>
    <h2><a href="/create-blog"><%= blogs%></a></h2>
  </div>
</nav>


